body{	
	background-color: #111628;
	padding: 0;
}
.ong-taraf-qismi-eni{
	width: 260px !important;
}
.birinchi-fixed{
	position: fixed;
	width: 260px;
	height: 67px;
	top:0;
	left:0;
	background-color: #14223c;
	border-right: 1px solid #555;
}
.birinchi-colonka{
	border-right: 1px solid #555;
	height: 100vh;
	overflow: auto;
	margin-top: 65px;
}
.btn-primary {
    color: #666;
    background-color: transparent;
    border-color: transparent;
}
.btn-primary:hover {
    color: #111;
    background-color: transparent;
    border-color: transparent;
}
.btn-primary:focus {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
    box-shadow: 0 0 0 0.2rem transparent;
}
.search__button{
	background-color: transparent;
	border:none;
}
.modat-top{
	background-color: #14223c;
}
.col-lg-3, .col-lg-6 {
	background-color: #14223c;
}
.chat_link:hover{
	border: none;
}
.chat__img{
	border-radius: 50%;
}
.chat-item__texts{
	width: 100%;
}
.badge{
	padding:5px;
}
li{
	list-style-type: none;
}
li:hover{
	background-color: #2e3a57;
}
.icon--width{
	width: 40px;
	padding-left: 20px;
}
.chat--width{
	width: 80%; 
	white-space: nowrap; 
	text-overflow: ellipsis; 
	overflow: hidden;
}
.modat-top{
	padding: 20px;
}
.modal-footer--gray{
	color: gray;
}
.modal-footer--gray:hover{
	color: gray;
}
.modal-avtar{
	height: 100vh !important;
	width: 25% !important;
	margin: 0 !important;
}
.modal-content{
	width: 260px;
	height: 100vh;
}
.ikkinchi-fixed{
	position: fixed;
	width: 50%;
	top:0;
	left:25%;
	background-color: #b8c570;
	border-bottom: 1px solid #555;
}
.chat-windows{
	height: 100vh;
	overflow: auto;
	margin-top: 54px;
}
.dropleft .dropdown-toggle::before{
	display: none;
}
.btn-secondary{
	background-color: transparent;
	border: none;
}
.btn-secondary:hover{
	background-color: transparent;	
	border: none;
}
.btn-secondary:focus{
	background-color: transparent;	
	border: none;
}
.show>.btn-secondary.dropdown-toggle{
	background-color: transparent;	
	border: none;
	box-shadow: none;
}
.user-mes__text{
	max-width: 400px;
}
.user-mes__text-box{
	border-radius: 5px;
}
.user-name{
	color: #3aa0e8;
}
.bg-img{
	background-image: url("../img/bgimg.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
}
::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}	

::-webkit-scrollbar-thumb {
	border-radius: 6px;
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}	

::-webkit-resizer {
  border: 2px solid black;
  background-color: red;
  box-shadow: 0 0 5px 5px blue;
  outline: 2px solid yellow;
}	
.menu-dropdown-link{
	color: white;
}
.col-8-title {
	color: #fff;
}
.col-8-span{
	color: grey;
}
.logo-link{
	color: grey;
}
.logo-link:hover {
	color: #d9d3d3;
}
.logo-links{
	width: 50px;
	height: 50px;
	text-align: center;
	background-color: rgba(255,255,255,0.2) transparent;
	margin-right: 5px;
	line-height: 50px;
	border-radius: 50%;
	transition: background-color 0.3s ease;
}
.logo-links:active{
	background-color: rgba(255,255,255,0.2);
}
.col-header{
	background-color: #14223c !important;
}
.menu-dropdown{
	background-color: #14223c;
}
.menu-dropdown-link:hover{
	background-color: rgba(84, 95, 114, 1);
	color: white;
}
.site-container{
	max-width: 100%;
}
.container-item{
	position: relative;
	padding-left: 70px !important;
}
.rounded-circle-img{
	position: absolute;
	top: 48px;
	left: 20px;
}
.rounded-circle-photo{
	position: absolute;
	top: 25px;
	left: 20px;
}
.container-card{
	position: relative;
	border-radius: 5px;
	background-color: #1f2539;
}
.container-item__img{
	border-radius: 0;
}
.bottom-left::before {
    position: absolute;
    bottom: 0;
    left: -20px;
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #1f2539;
    transform: translateX(50%);
}
.modal-container{
	width: 350px;
	height: 100%;
	margin: 0 auto;
	background-color: #14223c;
}
.menu-dropdown-button{
	display: flex;
	justify-content: center;
	margin: 0 !important;
	padding: 0 !important;
	width: 50px;
	height: 50px;
	text-align: center !important;
	background-color: rgba(255,255,255,0.2) transparent;
	line-height: 50px !important;
	border-radius: 50%;
	transition: background-color 0.3s ease;
}
.siteitems{
	border-bottom: 1px solid #131224;
}
.menu-dropdown-button:active{
	background-color: rgba(255,255,255,0.2);
}
.modal-body-title{
	font-size: 18px;
}
.sitelabel{
	border-top: 10px solid #2e384b;
	border-bottom: 10px solid #2e384b;
}
.modal-logoimg{
	margin-top: 18px;
	padding-left: 30px;
}
.exclamation-circle{
	border-radius: 50%;
	width: 20px;
	height: 20px;
	font-size: 10px;
	border: 1px solid grey;
	color: grey;
}
.modal-fontawesome{
	font-size: 18px;
	width: 10px;
}
.notification-link{
	cursor: pointer;
	padding-left: 30px;
}
.notification-link:hover{
	background-color: grey;
}
.avatar-link{
	padding-left: 20px;
	cursor: pointer;
}
.avatar-link:hover{
	background-color: grey;
}
.avatarimg{

}
.files-border{
	border-bottom: 10px solid #2e384b;
}
.col-footer{
	position: fixed;
	bottom: 0;
}
.messange-form{
	border: none;
	background-color: #14223c !important;
}
.span-paperclip{
	color: #dbdbdb;
	font-size: 25px;
}
.paperclip-button{
	cursor: pointer;
}
.emoji-button{
	color: #dbdbdb;
	font-size: 25px;
}
.emoji-links{
	position: fixed;
	width: 315px;
	background-color: #14223c;
}
.emoji-link{
	color: #819f9f;
	font-weight: bold;
	font-size: 14px;
	display: inline-flex;
	padding: 22px 28px 21px;
}
.emoji-link:hover{
	color: skyblue;
}
.emoji-linkss{
	color: skyblue;
	border-bottom: 3px solid skyblue !important;
}
.active{
	border-bottom: 3px solid skyblue !important;
}
.emoji-container{
	width: 315px;
}

.emoji-item{
	margin-top:70px;
}
.emoji-item__text{
	margin-left: 30px !important;
	margin-bottom: 10px !important;
	color: #dbdbdb;
}
.emoji-item__link{
	padding: 10px;
	border-radius: 5px;
	font-size: 18px;
}
.emoji-item__link:hover{
	background-color: rgba(219, 219, 219, 0.20);
}
.emojis{
	position: fixed;
	bottom: 0;
	height: 60px;
	background-color: #14223c;
}
.emojis-footure{
	position: fixed;
	bottom: 0;
	height: 44px;
	background-color: #14223c;
}
.indexhtml{
	color: #a3a3a3;
	padding: 0 8px;
	font-size: 22px;
}
.indexhtml:hover{
	color: skyblue;
}